  <div class="jumbotron">
    <h2 class="title" style="font-size:50px; margin-top:400px;">杜拉拉升值记</h2>
    <p class="slogan">杜拉拉升职记 是一个专门为女性量身订制高端工作机会的求职网站。
    <br>
    我们希望藉由这个网站，能让大家找到且应征上高薪且优质的工作。
    <br>
     凭借自己的努力和天份也会变成人生赢家
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上升值</a></p>
  </div>

  <div class="container-fluid">

    <%= render :partial => "jobs/search_bar" %>

    </div>

    <br>


      <div class="bs-example bs-example-tabs">
        <ul id="myTab" class="nav nav-tabs" role="tablist">

            <li>

              <a data-toggle="tab" href="#category-0">IT·互联网</a>
    </li>

            <li>
              <a data-toggle="tab" href="#category-1">房地产</a>
    </li>
            <li>

              <a data-toggle="tab" href="#category-2">金 融</a>
    </li>
            <li>

              <a data-toggle="tab" href="#category-3">消费品</a>
    </li>
            <li>

              <a data-toggle="tab" href="#category-4">汽车·制造</a>
    </li>
            <li>

              <a data-toggle="tab" href="#category-5">行医疗·化工</a>
    </li>
            <li>

      </ul>

        <div id="myTabContent" class="tab-content">





      <table class="table table-borderd">

      </table>

    </div>

    <br>


       <h3> <a href="/categories/2" style="color: black;">本周热门职缺</a> </h3>



<table class="table table-borderd">


<tr>

<td width="80%">


宝妈中国 -
<a href="http://localhost:3000/jobs">销售总监</a>

</td>
<td width="5%">
<span class="label label-default ">人民币 20,000 元</span>
</td>
<td>  4 June </td>
</tr>
<tr>

<td width="80%">


本迟科技 -
<a href="http://localhost:3000/jobs">副总经理</a>

</td>
<td width="5%">
<span class="label label-default ">人民币 20,000 元</span>
</td>
<td>  4 June </td>
</tr>
<tr>

<td width="80%">


本迟科技 -
<a href="http://localhost:3000/jobs">总经理</a>

</td>
<td width="5%">
<span class="label label-default ">人民币 30,000 元</span>
</td>
<td> 27 May </td>
</tr>
<tr>

<td width="80%">


腾旭数码 -
<a href="http://localhost:3000/jobs">财务总监</a>

</td>
<td width="5%">
<span class="label label-default ">人民币 18,000 元</span>
</td>
<td> 27 May </td>
</tr>
<tr>

<td width="80%">


腾旭数码 -
<a href="http://localhost:3000/jobs">系统设计师</a>

</td>
<td width="5%">
<span class="label label-default ">人民币 10,000 元</span>
</td>
<td> 27 Apr </td>
</tr>
<tr>

<td width="80%">


奥弟汽车 -
<a href="http://localhost:3000/jobs">大数据分析師</a>

</td>
<td width="5%">
<span class="label label-default ">人民币 21,000 元</span>
</td>
<td> 27 Apr </td>
</tr>
<tr>

<td width="80%">


奥弟汽车 -
<a href="http://localhost:3000/jobs">高级咨询顾问</a>

</td>
<td width="5%">
<span class="label label-default ">人民币 25,000 元</span>
</td>
<td> 20 Mar </td>
</tr>


</table>
</div>

<br>


   <h3> <a href="/categories/2" style="color: black;">本月热门公司</a> </h3>

   <table class="table table-borderd">


   <tr>

   <td width="80%">

<br>

      <div class="row">

      	<div class="col-lg-3">
      				<div class="cuadro_intro_hover " style="background-color:#f0d5dd;">
  						<p style="text-align:center;">
  							<img src="http://i9.qiuzhi5.com/?url=http%3A%2F%2Fmmbiz.qpic.cn%2Fmmbiz%2F1Eo86IE01wm2J78H1TibbHgjvibJUjULQSNyeYuBpQGTZ3XIzgpAH8IibUpR8IEm6J6w7FMAUwu1cPtQBsKEjd0Uw%2F0%3Fwx_fmt%3Dgif" class="img-responsive" alt="">
  						</p>
  						<div class="caption">
  							<div class="blur"></div>
  							<div class="caption-text">
  								<h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">Google</h3>
  								<p>Don't be evil.</p>
  								<a class=" btn btn-default" href="/jobs"><span > Let's go! </span></a>
  							</div>
  						</div>
  					</div>

  	    </div>

          <div class="col-lg-3">
          			<div class="cuadro_intro_hover " style="background-color:#f0d5dd;">
  						<p style="text-align:center;">
  							<img src="http://i9.qiuzhi5.com/?url=http%3A%2F%2Fmmbiz.qpic.cn%2Fmmbiz%2F1Eo86IE01wm2J78H1TibbHgjvibJUjULQSKCFAhRoIKuLya0ksVo3j1jk0BInluTYwO7pVK2z3jMJczqXzsOgPKw%2F0%3Fwx_fmt%3Dgif" class="img-responsive" alt="">
  						</p>
  						<div class="caption">
  							<div class="blur"></div>
  							<div class="caption-text">
  								<h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">Dell</h3>
  								<p>Dell. Purely You.<p>
  								<a class=" btn btn-default" href="/jobs"><span > Let's go! </span></a>
  							</div>
  						</div>
  					</div>

  	    </div>
          <div class="col-lg-3">
          			<div class="cuadro_intro_hover " style="background-color:#f0d5dd;">
  						<p style="text-align:center;">
  							<img src="http://i6.qiuzhi5.com/?url=http%3A%2F%2Fmmbiz.qpic.cn%2Fmmbiz%2F1Eo86IE01wm2J78H1TibbHgjvibJUjULQSfjmeqHxUb9OMcnibUlBBmQ5MafbExSXqQtXShsxrvdl4WAKHibhibjcgw%2F0%3Fwx_fmt%3Dgif" class="img-responsive" alt="">
  						</p>
  						<div class="caption">
  							<div class="blur"></div>
  							<div class="caption-text">
  								<h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">ROBOT</h3>
  								<p>It's That Robots Feeling.<p>
  								<a class=" btn btn-default" href="/jobs"><span > Let's go! </span></a>
  							</div>
  						</div>
  					</div>

  	    </div>
          <div class="col-lg-3">
          			<div class="cuadro_intro_hover " style="background-color:#f0d5dd;">
  						<p style="text-align:center;">
  							<img src="http://i9.qiuzhi5.com/?url=http%3A%2F%2Fmmbiz.qpic.cn%2Fmmbiz%2F1Eo86IE01wm2J78H1TibbHgjvibJUjULQS3c2bvcul2IVTXWhCjVaMenkEnO35nhWS2trqkmXJcGH4fmBD3bmPIw%2F0%3Fwx_fmt%3Dgif" class="img-responsive" alt="">
  						</p>
  						<div class="caption">
  							<div class="blur"></div>
  							<div class="caption-text">
  								<h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">MOTION</h3>
  								<p>Confidence in Motion.</p>
  								<a class=" btn btn-default" href="/jobs"><span > Let's go! </span></a>
  							</div>
  						</div>
  					</div>

  	    </div>
      </div>
  </div>

  <br>




  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ww2.sinaimg.cn/large/006tKfTcjw1fbwarn6wyxj30ao0ao3ye.jpg" alt="search" class = "img-thhumbnail">
            <div class="caption">
              <h3>上海外滩3号</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ww4.sinaimg.cn/large/006tKfTcgy1fbwaulrgcvj30ao0ao3ya.jpg" alt="bid" class = "img-thhumbnail">
            <div class="caption">
              <h3>info@No1offer.com</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1fbwavzh9a1j30ao0aowea.jpg" alt="heart" class = "img-thhumbnail">
            <div class="caption">
              <h3>021-68888888</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
